<localization-form class="localization-form-v2">
  {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form' -%}
    <div class="no-js-hidden">
      <div class="disclosure localization-v2">
        <button
          type="button"
          class="localization-v2__button"
          aria-expanded="false"
          aria-controls="HeaderLanguageList"
          aria-describedby="HeaderLanguageLabel"
        >
          {% liquid
            assign name = localization.language.name | capitalize
            assign local_name = localization.language.endonym_name | capitalize
            assign code = localization.language.iso_code | capitalize
          %}
          <span class="mobile-hidden">
            {{ section.settings.language_selector_selected_text_desktop
              | replace: '[name]', name
              | replace: '[local_name]', local_name
              | replace: '[code]', code
            }}
          </span>
          <span class="desktop-hidden">
            {{ section.settings.language_selector_selected_text_mobile
              | replace: '[name]', name
              | replace: '[local_name]', local_name
              | replace: '[code]', code
            }}
          </span>
          {% render 'icon-caret' %}
        </button>
        <div class="disclosure__list-wrapper" hidden>
          <ul id="HeaderLanguageList" role="list" class="disclosure__list list-unstyled">
            {%- for language in localization.available_languages -%}
              <li class="disclosure__item" tabindex="-1">
                <a
                  class="disclosure__link caption-large{% if language.iso_code == localization.language.iso_code %} disclosure__link--active{% endif %}"
                  href="#"
                  hreflang="{{ language.iso_code }}"
                  lang="{{ language.iso_code }}"
                  {% if language.iso_code == localization.language.iso_code %}
                    aria-current="true"
                  {% endif %}
                  data-value="{{ language.iso_code }}"
                >
                  {% liquid
                    assign name = language.name | capitalize
                    assign local_name = language.endonym_name | capitalize
                    assign code = language.iso_code | capitalize
                  %}
                  {{ section.settings.language_selector_options_text
                    | replace: '[name]', name
                    | replace: '[local_name]', local_name
                    | replace: '[code]', code
                  }}
                </a>
              </li>
            {%- endfor -%}
          </ul>
        </div>
      </div>
      <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
    </div>
  {%- endform -%}
</localization-form>