{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  #collection-list-{{ section.id }} {
    --grid-desktop-vertical-spacing: {{ section.settings.desktop_spacing }}px;
    --grid-desktop-horizontal-spacing: {{ section.settings.desktop_spacing }}px;
    --grid-mobile-vertical-spacing: {{ section.settings.mobile_spacing }}px;
    --grid-mobile-horizontal-spacing: {{ section.settings.mobile_spacing }}px;
  }
  {% if section.settings.custon_styling %}
    #collection-list-{{ section.id }} .collection-card-wrapper {
      --collection-card-corner-radius: {{ section.settings.cards_corner_radius | divided_by: 10.0 }}rem;
    }
    #collection-list-{{ section.id }} .card__heading {
      font-size: {{ section.settings.cards_mobile_title_size | divided_by: 10.0 }}rem;
    }
    @media screen and (min-width: 750px) {
      #collection-list-{{ section.id }} .card__heading {
        font-size: {{ section.settings.cards_desktop_title_size | divided_by: 10.0 }}rem;
      }
    }
    {% assign title_over_color = section.settings.cards_title_over_color %}
    #collection-list-{{ section.id }} .card--title-position-over .card__content--main {
      --color-foreground: {{ title_over_color.red }}, {{ title_over_color.green }}, {{ title_over_color.blue }};
    }
  {% endif %}
  {% assign cta_color = section.settings.cards_cta_color %}
  #collection-list-{{ section.id }} .collection-card__cta {
    --color-base-accent-1: {{ cta_color.red }}, {{ cta_color.green }}, {{ cta_color.blue }};
    --color-base-outline-button-labels: {{ cta_color.red }}, {{ cta_color.green }}, {{ cta_color.blue }};
    font-size: {{ section.settings.cards_mobile_cta_size | divided_by: 10.0 }}rem;
    min-height: calc({{ section.settings.cards_cta_height | divided_by: 100.0 }}em + var(--buttons-border-width)* 2);
    padding: 0 {{ section.settings.cards_cta_padding | divided_by: 100.0 }}em;
    margin-top: {{ section.settings.cards_cta_top_margin | divided_by: 100.0 }}em;
  }
  @media screen and (min-width: 750px) {
    #collection-list-{{ section.id }} .collection-card__cta {
      font-size: {{ section.settings.cards_desktop_cta_size | divided_by: 10.0 }}rem;
    }
  }

  .color-scheme-{{ section.id }}.color-custom {
    --color-background: {{ section.settings.custom_colors_background.red }}, {{ section.settings.custom_colors_background.green }}, {{ section.settings.custom_colors_background.blue }};
    --gradient-background: {% if section.settings.custom_gradient_background != blank %}{{ section.settings.custom_gradient_background }}{% else %}{{ section.settings.custom_colors_background }}{% endif %};
    {% if section.settings.custom_image_background != blank %}
      {% # theme-check-disable %}
      --gradient-background: url('{{ section.settings.custom_image_background | img_url: 'master' }}') center center / cover no-repeat;
      {% # theme-check-enable %}
    {% endif %}
    --color-foreground: {{ section.settings.custom_colors_text.red }}, {{ section.settings.custom_colors_text.green }}, {{ section.settings.custom_colors_text.blue }};
  }
  {% if section.settings.custom_mobile_image_background != blank %}
    @media screen and (max-width: 740px) {
      .color-scheme-{{ section.id }}.color-custom {
        {% # theme-check-disable %}
        --gradient-background: url('{{ section.settings.custom_mobile_image_background | img_url: 'master' }}') center center / cover no-repeat;
        {% # theme-check-enable %}
      }
    }
  {% endif %}
{%- endstyle -%}

{%- liquid
  assign columns_mobile_int = section.settings.columns_mobile_int
  assign has_mobile_slider = false
  assign has_desktop_slider = false

  if section.settings.slider_mobile and section.blocks.size > columns_mobile_int
    assign has_mobile_slider = true
  endif
  if section.settings.slider_desktop and section.blocks.size > section.settings.columns_desktop
    assign has_desktop_slider = true
  endif

  assign side_padding_desktop = section.settings.desktop_side_padding
  if section.settings.mobile_full_page
    assign side_padding_mobile = 0
  elsif section.settings.enable_mobile_preview
    assign side_padding_mobile = 24
  else
    assign side_padding_mobile = 15
  endif
-%}

<div class="color-scheme-{{ section.id }} color-{{ section.settings.color_scheme }} gradient content-for-grouping animate-section animate--hidden {{ section.settings.visibility }}">
  {% if section.settings.display_id %}
    <copy-button class="section-id-btn button" data-content="#shopify-section-{{ section.id }}" data-success="false">
      <span class="copy-text">Click to copy section ID</span>
      <span class="copy-success">ID copied successfully!</span>
    </copy-button>
  {% endif %}
  <div class="collection-list-wrapper page-width{% if section.settings.desktop_page_width != 'normal' %} {{ section.settings.desktop_page_width }}{% endif %}{% if has_mobile_slider or section.settings.mobile_full_page %} mobile-full-page{% endif %} isolate{% if section.settings.title == blank %} no-heading{% endif %}{% if section.settings.show_view_all == false or section.blocks.size > collections.size %} no-mobile-link{% endif %} section-{{ section.id }}-padding">
    {%- unless section.settings.title == blank -%}
      <div class="title-wrapper-with-link{% if has_mobile_slider or section.settings.mobile_full_page %} title-wrapper--self-padded-mobile{% endif %} title-wrapper--no-top-margin animate-item animate-item--child index-0">
        <h2
          id="SectionHeading-{{ section.id }}"
          class="collection-list-title {{ section.settings.heading_size }} title-with-highlight"
          style="--hightlight-color:{{ section.settings.title_highlight_color }}"
        >
          {{ section.settings.title }}
        </h2>

        {%- if section.settings.show_view_all and has_mobile_slider -%}
          <a
            href="{{ routes.collections_url }}"
            id="ViewAll-{{ section.id }}"
            class="link underlined-link large-up-hide"
            aria-labelledby="ViewAll-{{ section.id }} SectionHeading-{{ section.id }}"
          >
            {{- 'sections.collection_list.view_all' | t -}}
          </a>
        {%- endif -%}
      </div>
    {%- endunless -%}

    <div
      id="collection-list-{{ section.id }}"
      class="collection-list contains-card contains-card--collection{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} collection-list--{{ section.blocks.size }}-items"
      style="--columns-desktop: {{ section.settings.columns_desktop }};--columns-mobile: {{ columns_mobile_int }};--gap-desktop:{{ section.settings.desktop_spacing }}px;--gap-mobile:{{ section.settings.mobile_spacing }}px;--right-padding-desktop:{{ side_padding_desktop }}px;--left-padding-desktop:{% if section.settings.desktop_padding_calc %}{{ side_padding_desktop }}{% else %}0{% endif %}px;--side-padding-mobile:{{ side_padding_mobile }}px;"
    >
      {%- liquid
        assign columns = section.blocks.size
        if columns > 3
          assign columns = 3
        endif
      -%}
      {% if has_mobile_slider or has_desktop_slider %}
        <splide-component
          data-type="{{ section.settings.type }}"
          data-autoplay="{{ section.settings.autoplay }}"
          data-autoplay-speed="{{ section.settings.autoplay_speed }}"
          data-arrows-color="{{ section.settings.arrows_color_scheme }}"
          data-dots-color="{{ section.settings.dots_color_scheme }}"
          data-slides-desktop="{{ section.settings.columns_desktop }}"
          data-per-move-desktop="{{ section.settings.per_move_desktop }}"
          data-gap-desktop="{{ section.settings.desktop_spacing }}"
          data-side-padding-desktop="{{ section.settings.desktop_side_padding }}"
          data-padding-calc-desktop="{{ section.settings.desktop_padding_calc }}"
          data-slides-mobile="{{ columns_mobile_int }}"
          data-gap-mobile="{{ section.settings.mobile_spacing }}"
          data-side-padding-mobile="{{ side_padding_mobile }}"
          {% if has_desktop_slider == false %}
            data-destroy-desktop="true"
          {% elsif has_mobile_slider == false %}
            data-destroy-mobile="true"
          {% endif %}
        >
      {% endif %}
      <div
        class="splide splide--desktop-dots-{{ section.settings.desktop_dots_position }} splide--mobile-dots-{{ section.settings.mobile_dots_position }} splide--desktop-arrows-{{ section.settings.desktop_arrows_position }} splide--desktop-arrows-outside splide--mobile-arrows-{{ section.settings.mobile_arrows_position }}{% if section.settings.transparent_arrows %} splide--transparent-arrows{% endif %}{% if section.settings.vertical-alignment == 'center' %} splide--vertically-centered{% endif %}{% if has_desktop_slider == false %} splide--destroy-desktop{% endif %}{% if has_mobile_slider == false %} splide--destroy-mobile{% endif %}{% if has_desktop_slider %} splide--precalc-width-desktop splide--precalc-padding-desktop{% endif %}{% if has_mobile_slider %} splide--precalc-width-mobile splide--precalc-padding-mobile{% endif %}"
        {% if section.settings.desktop_adaptive_height
          and section.settings.slides_desktop == 1
          and has_desktop_slider
        %}
          data-desktop-adaptive-height="true"
        {% endif %}
        {% if section.settings.mobile_adaptive_height and has_mobile_slider %}
          data-mobile-adaptive-height="true"
        {% endif %}
      >
        <div class="splide__track">
          <ul class="splide__list">
            {%- for block in section.blocks -%}
              <li class="splide__slide">
                <div
                  class="splide__slide__container splide__slide__container--card slider__slide collection-list__item{% if block.settings.collection.featured_image == nil %} collection-list__item--no-media{% endif %} animate-item animate-item--child"
                  style="--index:{{ forloop.index }};"
                  {% if columns_mobile_int > 1 %}data-mobile-columns="2"{% endif %}
                  {{ block.shopify_attributes }}
                >
                  {% render 'card-collection',
                    card_collection: block.settings.collection,
                    media_aspect_ratio: section.settings.image_ratio,
                    columns: columns,
                    custom_section_styling: section.settings.custon_styling,
                    custom_image: block.settings.custom_image,
                    custom_description: block.settings.custom_description,
                    custom_title: block.settings.custom_title
                  %}
                </div>
              </li>
            {%- endfor -%}
          </ul>
        </div>
        <div class="splide__dots-and-arrows">
          <ul class="splide__pagination"></ul>
          <div class="splide__arrows"></div>
        </div>
      </div>
      {% if has_mobile_slider or has_desktop_slider %}
        </splide-component>
      {% endif %}
    </div>

    {%- if section.settings.show_view_all and section.blocks.size < collections.size -%}
      <div class="center collection-list-view-all{% if has_mobile_slider %} small-hide medium-hide{% endif %} animate-item animate-item--child index-2">
        <a
          href="{{ routes.collections_url }}"
          class="button"
          id="ViewAllButton-{{ section.id }}"
          aria-labelledby="ViewAllButton-{{ section.id }} SectionHeading-{{ section.id }}"
        >
          {{- 'sections.collection_list.view_all' | t -}}
        </a>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.collection-list.name",
  "tag": "section",
  "class": "section section-collection-list",
  "max_blocks": 15,
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "display_id",
      "label": "Display section ID",
      "info": "ID is used in the Sections group section to merge 2 sections. ID can also be put inside any button link and the button will scroll to this section.",
      "default": false
    },
    {
      "type": "select",
      "id": "visibility",
      "options": [
        {
          "value": "desktop-hidden",
          "label": "Mobile only"
        },
        {
          "value": "mobile-hidden",
          "label": "Desktop only"
        },
        {
          "value": "always-display",
          "label": "All devices"
        }
      ],
      "label": "Display on",
      "default": "always-display"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Collections",
      "label": "Heading",
      "info": "Bold certain words to highlight them with a different color."
    },
    {
      "type": "color",
      "id": "title_highlight_color",
      "label": "Heading highlight color",
      "default": "#6D388B"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "Small"
        },
        {
          "value": "h1",
          "label": "Medium"
        },
        {
          "value": "h0",
          "label": "Large"
        }
      ],
      "default": "h1",
      "label": "Heading size"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "Accent 1"
        },
        {
          "value": "accent-2",
          "label": "Accent 2"
        },
        {
          "value": "background-1",
          "label": "Background 1"
        },
        {
          "value": "background-2",
          "label": "Background 2"
        },
        {
          "value": "inverse",
          "label": "Inverse"
        },
        {
          "value": "custom",
          "label": "Custom"
        }
      ],
      "default": "background-1",
      "label": "Color scheme",
      "info": "Custom color scheme is edited at the bottom of section settings."
    },
    {
      "type": "header",
      "content": "Cards"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "Adapt to image"
        },
        {
          "value": "portrait",
          "label": "Portrait"
        },
        {
          "value": "square",
          "label": "Square"
        },
        {
          "value": "circle",
          "label": "Circle"
        }
      ],
      "default": "square",
      "label": "Image ratio",
      "info": "\"Circle\" only works with the Standard style & Title position set to Under the image."
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": false,
      "label": "Enable \"View all\" button if list includes more collections than shown"
    },
    {
      "type": "header",
      "content": "Cards style"
    },
    {
      "type": "checkbox",
      "id": "custon_styling",
      "default": false,
      "label": "Enable custom section styling",
      "info": "All the settings below will only be applied if this setting is checked."
    },
    {
      "type": "select",
      "id": "card_style",
      "options": [
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "card",
          "label": "Card"
        }
      ],
      "default": "standard",
      "label": "Style",
      "info": "Not applied of Title position is set to anything other than \"Under the image\"."
    },
    {
      "type": "select",
      "id": "cards_color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "Accent 1"
        },
        {
          "value": "accent-2",
          "label": "Accent 2"
        },
        {
          "value": "background-1",
          "label": "Background 1"
        },
        {
          "value": "background-2",
          "label": "Background 2"
        },
        {
          "value": "inverse",
          "label": "Inverse"
        }
      ],
      "default": "background-1",
      "label": "Color scheme"
    },
    {
      "type": "select",
      "id": "card_text_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left",
      "label": "Text alignment"
    },
    {
      "type": "range",
      "id": "cards_corner_radius",
      "min": 0,
      "max": 40,
      "step": 2,
      "unit": "px",
      "label": "Corner radius",
      "default": 10
    },
    {
      "type": "select",
      "id": "card_title_limited_lines",
      "options": [
        {
          "value": "unlimited",
          "label": "Don't limit"
        },
        {
          "value": "1",
          "label": "1 line"
        },
        {
          "value": "2",
          "label": "2 lines"
        },
        {
          "value": "3",
          "label": "3 lines"
        }
      ],
      "default": "unlimited",
      "label": "Limit long titles"
    },
    {
      "type": "select",
      "id": "card_title_position",
      "options": [
        {
          "value": "over-top",
          "label": "Over the image - top"
        },
        {
          "value": "over-center",
          "label": "Over the image - center"
        },
        {
          "value": "over-bottom",
          "label": "Over the image - bottom"
        },
        {
          "value": "under",
          "label": "Under the image"
        }
      ],
      "default": "over-bottom",
      "label": "Title position"
    },
    {
      "type": "color",
      "id": "cards_title_overlay_color",
      "default": "#000000",
      "label": "Title background color when over the image",
      "info": "Displayed if Title position is set to one of the \"Over the image\" options"
    },
    {
      "type": "range",
      "id": "cards_title_overlay_opacity",
      "label": "Title background color opacity",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 40
    },
    {
      "type": "color",
      "id": "cards_title_over_color",
      "default": "#ffffff",
      "label": "Title text color when over the image",
      "info": "Applied if Title position is set to one of the \"Over the image\" options"
    },
    {
      "type": "range",
      "id": "cards_desktop_title_size",
      "min": 14,
      "max": 36,
      "step": 2,
      "unit": "px",
      "default": 24,
      "label": "Desktop title size"
    },
    {
      "type": "range",
      "id": "cards_mobile_title_size",
      "min": 10,
      "max": 30,
      "step": 1,
      "unit": "px",
      "default": 20,
      "label": "Mobile title size"
    },
    {
      "type": "checkbox",
      "id": "cards_show_arrow",
      "default": true,
      "label": "Show link arrow next to the title/description"
    },
    {
      "type": "header",
      "content": "Cards CTA button"
    },
    {
      "type": "text",
      "id": "cards_cta_label",
      "label": "CTA button label"
    },
    {
      "type": "select",
      "id": "cards_cta_style",
      "options": [
        {
          "value": "primary",
          "label": "Solid"
        },
        {
          "value": "secondary",
          "label": "Outline"
        },
        {
          "value": "tertiary",
          "label": "Text"
        }
      ],
      "default": "secondary",
      "label": "CTA button style"
    },
    {
      "type": "checkbox",
      "id": "cards_cta_full_width",
      "default": false,
      "label": "CTA button full width"
    },
    {
      "type": "color",
      "id": "cards_cta_color",
      "label": "CTA button color",
      "default": "#6D388B"
    },
    {
      "type": "range",
      "id": "cards_desktop_cta_size",
      "min": 10,
      "max": 28,
      "step": 2,
      "unit": "px",
      "default": 16,
      "label": "CTA button desktop size"
    },
    {
      "type": "range",
      "id": "cards_mobile_cta_size",
      "min": 8,
      "max": 22,
      "step": 1,
      "unit": "px",
      "default": 14,
      "label": "CTA button mobile size"
    },
    {
      "type": "range",
      "id": "cards_cta_height",
      "min": 100,
      "max": 300,
      "step": 20,
      "unit": "%",
      "default": 220,
      "label": "CTA button height",
      "info": "Relative to font size"
    },
    {
      "type": "range",
      "id": "cards_cta_padding",
      "min": 0,
      "max": 400,
      "step": 40,
      "unit": "%",
      "default": 200,
      "label": "CTA button horizontal padding",
      "info": "Relative to font size"
    },
    {
      "type": "range",
      "id": "cards_cta_top_margin",
      "min": 0,
      "max": 200,
      "step": 20,
      "unit": "%",
      "default": 100,
      "label": "CTA button top spacing",
      "info": "Relative to font size"
    },
    {
      "type": "header",
      "content": "Slider"
    },
    {
      "type": "paragraph",
      "content": "ATTENTION: ONLY in the theme editor, pagination dots might duplicate after changing section settings. To overcome this, simply click Save. This has NO EFFECT on the published website."
    },
    {
      "type": "select",
      "id": "type",
      "options": [
        {
          "value": "slide",
          "label": "Classic"
        },
        {
          "value": "loop",
          "label": "Infinite"
        }
      ],
      "default": "slide",
      "label": "Type"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Enable autoplay",
      "default": false
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "min": 1,
      "max": 15,
      "step": 0.5,
      "default": 5,
      "unit": "sec",
      "label": "Autoplay speed"
    },
    {
      "type": "select",
      "id": "arrows_color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "Accent 1"
        },
        {
          "value": "accent-2",
          "label": "Accent 2"
        },
        {
          "value": "background-1",
          "label": "Background 1"
        },
        {
          "value": "background-2",
          "label": "Background 2"
        },
        {
          "value": "inverse",
          "label": "Inverse"
        }
      ],
      "default": "inverse",
      "label": "Arrows color scheme"
    },
    {
      "type": "checkbox",
      "id": "transparent_arrows",
      "label": "Transparent arrows",
      "default": true
    },
    {
      "type": "select",
      "id": "dots_color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "Accent 1"
        },
        {
          "value": "accent-2",
          "label": "Accent 2"
        },
        {
          "value": "background-1",
          "label": "Background 1"
        },
        {
          "value": "background-2",
          "label": "Background 2"
        },
        {
          "value": "inverse",
          "label": "Text"
        }
      ],
      "default": "inverse",
      "label": "Dots color"
    },
    {
      "type": "header",
      "content": "Desktop"
    },
    {
      "type": "select",
      "id": "desktop_page_width",
      "options": [
        {
          "value": "page-width--narrow",
          "label": "Narrow"
        },
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "desktop-full-page",
          "label": "Full width"
        },
        {
          "value": "desktop-full-page-no-padding",
          "label": "Full width without side spacing"
        }
      ],
      "default": "normal",
      "label": "Page width"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 3,
      "label": "Slides per page"
    },
    {
      "type": "range",
      "id": "desktop_spacing",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Spacing",
      "default": 40
    },
    {
      "type": "checkbox",
      "id": "slider_desktop",
      "label": "Enable desktop slider",
      "default": false,
      "info": "The settings bellow are applied if this option is checked"
    },
    {
      "type": "range",
      "id": "per_move_desktop",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 1,
      "label": "Slides to scroll on one move"
    },
    {
      "type": "range",
      "id": "desktop_side_padding",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "Preview of prev & next slide",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "desktop_padding_calc",
      "label": "Disable empty preview on first & last slide",
      "default": true,
      "info": "Moves the first slide to the left edge and last one to the right if Preview value is enabled. Visible if type is set to Slider."
    },
    {
      "type": "checkbox",
      "id": "desktop_adaptive_height",
      "label": "Adaptive height",
      "default": false,
      "info": "Only available if Slides per page is set to 1."
    },
    {
      "type": "select",
      "id": "desktop_dots_position",
      "options": [
        {
          "value": "hidden",
          "label": "Hidden"
        },
        {
          "value": "under",
          "label": "Under the slider"
        }
      ],
      "default": "under",
      "label": "Dots position"
    },
    {
      "type": "select",
      "id": "desktop_arrows_position",
      "options": [
        {
          "value": "hidden",
          "label": "Hidden"
        },
        {
          "value": "under",
          "label": "Under the slider"
        },
        {
          "value": "sides",
          "label": "On sides of the slider"
        }
      ],
      "default": "sides",
      "label": "Arrows position"
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "type": "checkbox",
      "id": "mobile_full_page",
      "label": "Full page width",
      "default": false,
      "info": "Recommended for layouts without any spacing between cards."
    },
    {
      "type": "range",
      "id": "columns_mobile_int",
      "min": 1,
      "max": 4,
      "step": 1,
      "label": "Number of columns",
      "default": 1
    },
    {
      "type": "range",
      "id": "mobile_spacing",
      "min": 0,
      "max": 60,
      "step": 3,
      "unit": "px",
      "label": "Spacing",
      "default": 15
    },
    {
      "type": "checkbox",
      "id": "slider_mobile",
      "label": "Enable mobile slider",
      "default": true,
      "info": "The settings bellow are applied if this option is checked"
    },
    {
      "type": "checkbox",
      "id": "enable_mobile_preview",
      "label": "Preview of prev & next slides",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "mobile_adaptive_height",
      "label": "Adaptive height",
      "default": false
    },
    {
      "type": "select",
      "id": "mobile_dots_position",
      "options": [
        {
          "value": "hidden",
          "label": "Hidden"
        },
        {
          "value": "under",
          "label": "Under the slider"
        }
      ],
      "default": "under",
      "label": "Dots position"
    },
    {
      "type": "select",
      "id": "mobile_arrows_position",
      "options": [
        {
          "value": "hidden",
          "label": "Hidden"
        },
        {
          "value": "under",
          "label": "Under the slider"
        },
        {
          "value": "sides",
          "label": "On sides of the slider"
        }
      ],
      "default": "under",
      "label": "Arrows position"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "header",
      "content": "Custom color scheme",
      "info": "Applied if Color scheme setting is set to Custom."
    },
    {
      "type": "color",
      "id": "custom_colors_background",
      "default": "#FFFFFF",
      "label": "Background color"
    },
    {
      "type": "color_background",
      "id": "custom_gradient_background",
      "label": "Gradient background",
      "info": "If added, replaces Background color when applicable."
    },
    {
      "type": "image_picker",
      "id": "custom_image_background",
      "label": "Image background"
    },
    {
      "type": "image_picker",
      "id": "custom_mobile_image_background",
      "label": "Mobile image background",
      "info": "If empty, the Image background will also be applied to mobile devices"
    },
    {
      "type": "color",
      "id": "custom_colors_text",
      "default": "#2E2A39",
      "label": "Text"
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "t:sections.collection-list.blocks.featured_collection.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
        },
        {
          "type": "image_picker",
          "id": "custom_image",
          "label": "Custom cover image"
        },
        {
          "type": "text",
          "id": "custom_title",
          "label": "Custom title",
          "info": "If empty, the default collection title is displayed."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection-list.presets.name",
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}
