{{ 'custom-announcement-bar.css' | asset_url | stylesheet_tag }}

<style>
  .announcement-bar-section-{{ section.id }} {
    background: {% if section.settings.use_theme_colors %}{{ settings.global_section_text_color }}{% else %}{{ section.settings.background_color }}{% endif %} !important;
    background-image: none !important;
  }
  
  .announcement-bar-section-{{ section.id }} p {
    color: {% if section.settings.use_theme_colors %}{{ settings.global_section_background_color }}{% else %}{{ section.settings.text_color }}{% endif %} !important;
    font-size: {{ section.settings.font_size }}px;
  }
</style>

<div class="announcement-bar-section announcement-bar-section-{{ section.id }}">
  <p>{{ section.settings.text }}</p>
</div>

{% schema %}
{
  "name": "Announcement Bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "use_theme_colors",
      "label": "Use Theme Colors",
      "default": true,
      "info": "Apply the global theme colors to this section (inverted)"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Announcement text",
      "default": "LIMITED TIME: SAVE UP TO 48%"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#FFFFFF"
    },
    {
      "type": "range",
      "id": "font_size",
      "min": 12,
      "max": 24,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 16
    }
  ],
  "presets": [
    {
      "name": "Announcement Bar",
      "category": "Promotional"
    }
  ]
}
{% endschema %} 