{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  
  {% if section.settings.use_theme_colors %}
  .main-page-title {
    color: {{ settings.global_section_text_color }};
  }
  
  .page-width button.button:after,
  .page-width .shopify-challenge__button:after,
  .page-width .customer button:after,
  .page-width .shopify-payment-button__button--unbranded:after {
    --button-after-shadow: 0 0 0 calc(var(--buttons-border-width) + var(--border-offset))
      {{ settings.global_section_text_color }},
    0 0 0 var(--buttons-border-width) {{ settings.global_section_accent_1_color }};
  }
  
  .page-width button.button:not([disabled]):hover::after,
  .page-width .shopify-challenge__button:hover::after,
  .page-width .customer button:hover::after,
  .page-width .shopify-payment-button__button--unbranded:hover::after {
    --button-after-hover-shadow: 0 0 0 calc(var(--buttons-border-width) + var(--border-offset))
      {{ settings.global_section_text_color }},
    0 0 0 calc(var(--buttons-border-width) + 1px) {{ settings.global_section_accent_1_color }};
  }
  {% endif %}
{%- endstyle -%}

<div class="page-width page-width--narrow section-{{ section.id }}-padding">
  <h1 class="main-page-title page-title h0{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    {{ page.title | escape }}
  </h1>
  <div class="rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "use_theme_colors",
      "label": "Use Theme Colors",
      "default": true,
      "info": "When enabled, the section will use your global theme colors"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
